header {

    background-color: aquamarine;
}

h1 {
    color:rgb(16, 68, 68);
    font-size: 108px;

}
.texto {
    border: 1000px rgb(28, 103, 105);
    margin:150px ;
    font: bold 120% "Segoe UI";
    text-align: justify;

/*    display: block;
    position: absolute;*/
  

}

body {
    padding:0;

}
footer {
    background-color: rgb(12, 44, 44);
    margin-top: 0px;
    height: 150px;
}
.mercosur{
    display:block;
    margin:auto;
    height: 500px;
}
.githublogo{
    display:block;
    margin: auto;
    height: 100px;

}
.backgroundimage{
/*   display: block;
    position: relative;*/
    height:200px;
}
.tabla {
    border-collapse: collapse;

}
.hipervinculo  { 
    font: bold 120% "Segoe UI";
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400;  
    background: #cbfaf0; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 5px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 35px 35px 35px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 10px solid #486462;}
    