header {

    background-color: aquamarine;
}

h1 {
    color:rgb(16, 68, 68);
    font-size: 108px;

}
.hola {
    border: 3px orange;
    margin:150px ;

}

body {
    padding:0;
}
footer {
    background-color: rgb(12, 44, 44);
    margin-top: 0px;
    height: 150px;
}
img{
    display:block;
    margin:auto;
}